<div class="pt-md-5 my-5">
  <div class="row my-3 align-items-center">
    <div
      class="col-12 col-md-6 d-flex flex-column flex-md-row align-items-center pb-3 pb-md-0"
    >
      <h3 class="m-md-0 mr-md-3 pb-3 pb-md-0">
        {{ title }} -
        <strong>{{ count$ | async }}</strong>
      </h3>
      <div *ngIf="category$ | async as category">
        <button
          (click)="setCategory(category, 'all')"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="category === 'all' ? 'btn-dark' : 'btn-light'"
        >
          All
        </button>
        <button
          (click)="setCategory(category, 'Normal')"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="category === 'Normal' ? 'btn-dark' : 'btn-light'"
        >
          Normal
        </button>
        <button
          (click)="setCategory(category, 'Rare')"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="category === 'Rare' ? 'btn-dark' : 'btn-light'"
        >
          Rare
        </button>
        <button
          (click)="setCategory(category, 'Hidden')"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="category === 'Hidden' ? 'btn-dark' : 'btn-light'"
        >
          Hidden
        </button>
        <button
          (click)="setCategory(category, 'Secret')"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="category === 'Secret' ? 'btn-dark' : 'btn-light'"
        >
          Secret
        </button>
      </div>
    </div>
    <div class="col-12 col-md-4 offset-0 offset-md-2">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          aria-label="search"
          [(ngModel)]="searchString"
          (keydown)="textInput($event)"
        />
      </div>
    </div>
  </div>
  <div class="row my-3">
    <ng-container *ngIf="sortDirection$ | async as sortingDirection">
      <div
        *ngIf="sortType$ | async as sortingType"
        class="col-12 col-md-6 offset-0 offset-md-6 d-flex justify-content-end advanced-search__container"
      >
        <button
          (click)="[sortType('ID'), sortDirection(sortingDirection, 'asc')]"
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="sortingType === 'ID' ? 'btn-dark' : 'btn-light'"
        >
          <fa-icon
            [icon]="['fas', 'sort-alpha-down']"
            *ngIf="sortingType === 'ID' && sortingDirection === 'asc'"
          ></fa-icon>

          <fa-icon
            [icon]="['fas', 'sort-alpha-up']"
            *ngIf="sortingType === 'ID' && sortingDirection === 'desc'"
          ></fa-icon>
          <span>ID</span>
        </button>
        <button
          (click)="
            [sortType('rarity'), sortDirection(sortingDirection, 'desc')]
          "
          type="button"
          class="btn btn-sm mr-3"
          [ngClass]="sortingType === 'rarity' ? 'btn-dark' : 'btn-light'"
        >
          <fa-icon
            [icon]="['fas', 'sort-amount-up']"
            *ngIf="sortingType === 'rarity' && sortingDirection === 'asc'"
          ></fa-icon>

          <fa-icon
            [icon]="['fas', 'sort-amount-down']"
            *ngIf="sortingType === 'rarity' && sortingDirection === 'desc'"
          ></fa-icon>
          <span>Rarity</span>
        </button>
        <button
          (click)="clearFilters()"
          type="button"
          class="btn btn-light btn-sm"
        >
          Clear Filters
        </button>
      </div>
    </ng-container>
  </div>
</div>
<div class="row">
  <ng-container *ngIf="count$ | async; then content; else empty"></ng-container>
</div>
<ng-template #content>
  <div *ngFor="let taco of tacos$ | async" class="col-12 col-md-3 py-3">
    <app-taco-card-item [taco]="taco"></app-taco-card-item></div
></ng-template>
<ng-template #empty>
  <div class="col-12 h-100">
    {{ emptyText }}
  </div>
</ng-template>
<div *ngIf="showMoreButton | async" class="row my-5 justify-content-center">
  <div class="col-12 col-md-3">
    <button
      type="button"
      class="btn btn-block btn-light"
      (click)="showMoreItems()"
    >
      Load more
    </button>
  </div>
</div>
